{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "endOfLine": "auto",
    "embeddedLanguageFormatting": "auto",
    "singleAttributePerLine": false,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "printWidth": 120
            }
        },
        {
            "files": "*.css",
            "options": {
                "singleQuote": false
            }
        },
        {
            "files": "*.md",
            "options": {
                "proseWrap": "always"
            }
        },
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
